body{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container{
    margin-top:12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.counter{
    color:blueviolet;
    font-size: 3.4rem;
}
p{
    font-size:1.2rem;
    font-family: 'Times New Roman', Times, serif;
}